# Ignore output files
Static/Outputs/Plants_Nolinks_example.csv

# Ignore local Chrome install
Static/GoogleChromePortable/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment and IDE settings
.venv/
.vscode/
.idea/
