beautifulsoup4  # Static/Python_full/GetLinks.py, Static/Python_full/FillMissingData.py
black  # Static/Python_full/Excelify2.py
customtkinter  # Launcher.py
fpdf2  # Static/Python_full/GeneratePDF.py
lxml  # Static/Python_full/GetLinks.py, Static/Python_full/FillMissingData.py
openpyxl  # Static/Python_full/Excelify2.py
pandas  # Static/Tools/CleanMerge.py, Static/Python_full/Excelify2.py, Static/Python_full/FillMissingData.py, Static/Python_full/GeneratePDF.py, Static/Python_full/GetLinks.py, Static/Python_full/PDFScraper_depreciate.py, ReviewFiles/SampleTest/SampleTestvManual.py
pdfplumber  # Static/Python_full/PDFScraper_depreciate.py
pillow  # Static/Python_full/GeneratePDF.py, Static/Python_full/PDFScraper_depreciate.py
pymupdf  # Static/Python_full/PDFScraper_depreciate.py
pytest  # tests
pyyaml  # Static/Python_full/GeneratePDF.py
requests  # Static/Python_full/GetLinks.py, Static/Python_full/FillMissingData.py
rich  # ReviewFiles/SampleTest/SampleTestvManual.py
selenium  # Static/Python_full/GetLinks.py
tqdm  # Static/Python_full/FillMissingData.py, Static/Python_full/PDFScraper_depreciate.py