# requirements.txt — for Scraper_FULL_PATCHED.py

pandas         # Data manipulation and CSV reading/writing
numpy          # Efficient handling of missing values (e.g. np.nan)
requests       # HTTP requests for fetching web pages
beautifulsoup4 # HTML parsing to extract detail links from MBG and Wildflower
lxml           # Fast and robust HTML parser used by BeautifulSoup
tqdm           # Progress bar display for tracking row completion
pdfplumber     # Extracts text from PDF fact sheets (e.g. Rutgers guide)
openpyxl       # Enables reading/writing Excel (.xlsx) files with pandas


#PDF has mostly: Botanical Name, Common Name, Appearance: Height,Spread, Flower Color (Bloom Color), Flowering period ( Bloom Time), Habitat, Hyrodology, Wildlife benfits, Distribution

#MBG has: Type,Height,Spread,Bloom Time, Bloom Description(Bloom Color), Sun, Water, Suggested Use

#Wildflower has: Bloom Color, Bloom Time, Distribution (USA), USDA Symbol